
#preload {
  display: none;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 500px) {

	#content {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 80%;
    max-height: 557px;
		/* centers the image horizontaly */
		transform: translate(-50%, 0%);

		/* put the top of the imagage where i want it verticallly */
		margin-top: -64%;
	}

	#hidden-content {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 80%;

		/* centers the image horizontaly */
		transform: translate(-50%, 0%);

		/* put the top of the imagage where i want it verticallly */
		margin-top: 2%;
	}


	#square1 {
		position: absolute;
		top: 50%;
		left: 50%;

		/* translates the center point of the logo image */
		transform: translate(-50%, -50%);

		/* for mobile it would be best to have this as % */
		width: 22vw;
		height: 22vw;

		/* put the top of the imagage where i want it verticallly */
		margin-top: -4%;
	}

	#link {
		position: absolute;
		top: 94%;
		left:50%;
		text-align:center;
		transform: translate(-50%, -50%);
    background-color: white;
    width: 80px;
	}
}

/* Everything bigger than 600px */
@media only screen and (min-width: 500px) {

	#content {
	  position: absolute;
		top: 50%;
		left:50%;
		margin-left: -255px;
		margin-top:-400px;
		text-align:center;
		width: 50%;
    width: 500px;
    max-height: 754px;
	}

	#hidden-content {
	  position: absolute;
	  top: 50%;
	  left:50%;
	  margin-left: -255px;
	  margin-top: 10px;
	  text-align:center;
    width: 50%;
		width: 500px;
    max-height: 754px;
	}


	#square1 {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 150px;
		height: 150px;

		/* translates the center point of the logo image */
		transform: translate(-50%, -70%);
	}

	#link {
		width: fit-content;
		height: fit-content;
		position: absolute;

		transform: translate(-50%, -50%);

		top: 92%;
		left: 50%;
		text-align:center;
    background-color: white;
    /* width: 72px; */
	}

  #link:hover {
    background: transparent;
  }

}
