body {
	background-color: lightblue;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
  font-family: Arial, Helvetica, sans-serif;
	font-size:16px;
	color: #FFF;
	text-align:center;
	letter-spacing:2px;
}

#preload {
  display: none;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

	#content {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 80%;

		/* centers the image horizontaly */
		transform: translate(-50%, 0%);

		/* put the top of the imagage where i want it verticallly */
		margin-top: -64%;
	}

	#hidden-content {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 80%;

		/* centers the image horizontaly */
		transform: translate(-50%, 0%);

		/* put the top of the imagage where i want it verticallly */
		margin-top: 2%;
	}


	#square {
		position: absolute;
		top: 50%;
		left: 50%;
		background: linear-gradient(#EE609C,#F5F588);
		background: -webkit-linear-gradient(#EE609C,#F5F588);
		background: -moz-linear-gradient(#EE609C,#F5F588);

		/* translates the center point of the logo image */
		transform: translate(-50%, -50%);

		/* for mobile it would be best to have this as % */
		width: 86px;
		height: 86px;

		/* put the top of the imagage where i want it verticallly */
		margin-top: -4%;
	}

	#text {
		position: absolute;
		top: 94%;
		left:50%;
		text-align:center;
		transform: translate(-50%, -50%);
	}
}

/* Everything bigger than 600px */
@media only screen and (min-width: 600px) {

	#content {
	  position: absolute;
		top: 50%;
		left:50%;
		margin-left: -255px;
		margin-top:-400px;
		text-align:center;
		width: 500px;
	}

	#hidden-content {
	  position: absolute;
	  top: 50%;
	  left:50%;
	  margin-left: -255px;
	  margin-top: 10px;
	  text-align:center;
		width: 500px;
	}


	#square {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 150px;
		height: 150px;
		background: linear-gradient(#EE609C,#F5F588);
		background: -webkit-linear-gradient(#EE609C,#F5F588);
		background: -moz-linear-gradient(#EE609C,#F5F588);

		/* translates the center point of the logo image */
		transform: translate(-50%, -70%);
	}

	#text {
		width: fit-content;
		height: fit-content;
		position: absolute;

		transform: translate(-50%, -50%);

		top: 92%;
		left: 50%;
		text-align:center;
	}

}

a:link {
	text-decoration: none;
	color: #FFF;
}
a:visited {
	text-decoration: none;
	color:#FFF;
}
a:hover {
	text-decoration: none;
	color: #FFF;
	/* background: linear-gradient(#EE609C,#F5F588); */
}

a:active {
	text-decoration: none;
	color:#FFF;
}
a:link {
	text-decoration: none;
	color:#FFF;
}
