
img {
  max-width: 100%;
  max-height: 100%;
}

/* vertical */
/* bottom left */
#img1 {
  position: absolute;


  bottom: 15%;
  left: 5vw ;

  max-width: 600px;
  max-height: 600px;
}

/* vertical */
/* top right */
#img2 {
  position: absolute;

  top: 20px;
  left: 72%;

  max-width: 300px;
  max-height: 300px;
}

/* horizontal */
/* bottom right */
#img3 {
  position: absolute;

  bottom: 5%;
  right: 5vw;

  max-width: 450px;
  max-height: 450px;
}



#square {
  position: absolute;
  transform: translate(-50%, -50%);

  bottom: 40px;
  left: 15vw;

  width: 100px;
  height: 100px;
}


#link1 {
  position:absolute;
  width: fit-content;
  height: fit-content;

  top: 15%;
  left: 60%;
}

#text1 {
  position:absolute;
  transform: translate(-50%, -50%);

  width: fit-content;
  height: fit-content;

  top: 7%;
  left: 15%;
}

#text2 {
  position:absolute;
  transform: translate(-50%, -50%);

  width: fit-content;
  height: fit-content;

  top: 50%;
  left: 51%;
}
