html, body, h1, h2, h3, h4, ul, ol, li, p, a {
  padding: 0;
  border: 0;
  margin: 0;
}

body {
	background-color: #ffffff;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
  font-family: Arial, Helvetica, sans-serif;
	font-style: normal;
	/* font-size:14px; */
	letter-spacing:2px;
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

a {
  text-decoration: none;
  color: #000000;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: #000000;
}

/* cursor over text will stay the same */
h3:hover {
  cursor: default;
}

p:hover {
  cursor: default;
}

a:active, a:focus, a:visited {
  outline: 0;
  border: none;
}
